<nav>
	<ul>
		<li>
      <a href="http://en.wikipedia.org/wiki/Portable_Document_Format">
        PDF (Wikipedia)
      </a>
      <a href="https://github.com/sandal/prawn/blob/master/lib/prawn/security.rb">
        PDF Encryption in Prawn (ruby PDF generator)
      </a>
      <a href="http://www.itextpdf.com/">
        iText (good Java PDF library)
      </a>
		</li>
	</ul>
  <p class="design">
    Designed by <a href="http://www.costan.us">Victor Costan</a>
  </p>
</nav>
